@using DapperEstate.Dtos.SearchDtos
@model CreateSearchProductDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>Index</h1>

<form method="post">
    <input asp-for="Title" class="form-control" placeholder="Mesaj Gönder"/>
    <button type="submit">Mesajı Gönder</button>
</form>
