@using DapperEstate.Dtos.SingleProductDtos
@model List<SingleProductImageDto>

<div class="col-md-12 ftco-animate">
    <div class="single-slider owl-carousel">
        @foreach(var item in Model)
        {
            <div class="item">
            <div class="properties-img" style="background-image: url('@item.ImageUrl');"></div>
           
        </div>
        }
        
    </div>
</div>
