@model GetSliderDto
@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>




<div class="col-md-12">

    <div class="card">
        <div class="card-header">
            <div class="card-title">Pano İlanı Ekle</div>
        </div>
        <div class="card-body">

            <form class="form-control" method="post">
                <div class="form-group">
                    <input type="text" class="form-control input-pill" asp-for="Header" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-pill" asp-for="Address"  />
                </div>
                <div class="form-group">
                   <textarea class="form-control" id="summernote" asp-for="Description"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-pill" asp-for="ImageUrl"  />
                </div>
                <div class="form-group">
                    <input class="form-control input-pill" asp-for="Price" />
                </div>
                <div class="card-action">
                    <button type="submit" class="btn btn-success">Ekle</button>
                    <a href="/Admin/Slider/SliderList" class="btn btn-secondary">Vazgeç</a>
                </div>
            </form>

        </div>

    </div>
</div>

<script>
    $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>

