
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
	
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="fa-regular fa-arrow-up-right-from-square"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Slider/SliderList/">
					<i class="fa-regular fa-trophy-star"></i>
					<p>Öne Çıkan İlanlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Property/PropList/">
					<i class="fa-regular fa-house-window"></i>
					<p>Emlak Kategori</p>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Admin/City/CityList/">
					<i class="fa-regular fa-map-location-dot"></i>
					<p>Şehir Yönetimi</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-bell"></i>
					<p>Notifications</p>
					<span class="badge badge-success">3</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="typography.html">
					<i class="la la-font"></i>
					<p>Typography</p>
					<span class="badge badge-danger">25</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Icons</p>
				</a>
			</li>
	
		</ul>
	</div>
</div>
