
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
	
		<ul class="nav">
			<li class="nav-item">
				<a href="/Default/Index/">
					<i class="fa-regular fa-arrow-up-right-from-square"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Slider/SliderList/">
					<i class="fa-regular fa-trophy-star"></i>
					<p>Vitrin İlanları</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Property/PropList/">
					<i class="fa-regular fa-house-window"></i>
					<p>Emlak Kategori</p>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Admin/City/CityList/">
					<i class="fa-regular fa-map-location-dot"></i>
					<p>Şehir Yönetimi</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Product/ProductList">
					<i class="fa-regular fa-scroll"></i>
					<p>İlan Yönetimi</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Testimonial/TestList/">
					<i class="fa-regular fa-comment"></i>
					<p>Yorumlar</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Tags/NoIDTagList/">
					<i class="fa-regular fa-tags"></i>
					<p>Etiketler</p>
				</a>
			</li>
	
		</ul>
	</div>
</div>
