
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
	
		<ul class="nav">
			<li class="nav-item">
				<a href="index.html">
					<i class="la la-dashboard"></i>
					<p>Dashboard</p>
					<span class="badge badge-count">5</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="components.html">
					<i class="la la-table"></i>
					<p>Components</p>
					<span class="badge badge-count">14</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Admin/Property/PropList/">
					<i class="la la-keyboard-o"></i>
					<p>Emlak Başlık Yönetimi</p>
				</a>
			</li>
			<li class="nav-item ">
				<a href="/Admin/City/CityList/">
					<i class="la la-th"></i>
					<p>Şehir Yönetimi</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="notifications.html">
					<i class="la la-bell"></i>
					<p>Notifications</p>
					<span class="badge badge-success">3</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="typography.html">
					<i class="la la-font"></i>
					<p>Typography</p>
					<span class="badge badge-danger">25</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="icons.html">
					<i class="la la-fonticons"></i>
					<p>Icons</p>
				</a>
			</li>
	
		</ul>
	</div>
</div>
