
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Royalestate</h2>
                    <p>Hayalinizdeki evi bulmak artık çok kolay! Lüks rezidanslardan, bahçeli villalara kadar geniş seçeneklerimizle sizlere konforlu ve güvenli yaşam alanları sunuyoruz.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Hızlı Bakış</h2>
                    <ul class="list-unstyled">
                        <li><a href="/Default/Index/" class="py-2 d-block">Ana Sayfa</a></li>
                        <li><a href="/Property/PropertyList/" class="py-2 d-block">İlan Listesi</a></li>
                        <li><a href="#" class="py-2 d-block">Politika</a></li>
                        <li><a href="#" class="py-2 d-block">Gizlilik</a></li>
                        <li><a href="#" class="py-2 d-block">Ofis Adresi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Destek</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">İlan Oluşturma</a></li>
                        <li><a href="#" class="py-2 d-block">İlan Bildir</a></li>
                        <li><a href="#" class="py-2 d-block">Diğer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bize Yazın</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">9023 Anneler Parkı, Kürşat Tüzmen Blv.Batıkent, Şahinbey, Gaziantep</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">gozgirfaruk@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
