<head>
	<title>Royal Estate - UI</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

	<link rel="stylesheet" href="~/royalestate/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/royalestate/css/animate.css">

	<link rel="stylesheet" href="~/royalestate/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/royalestate/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/royalestate/css/magnific-popup.css">

	<link rel="stylesheet" href="~/royalestate/css/aos.css">

	<link rel="stylesheet" href="~/royalestate/css/ionicons.min.css">

	<link rel="stylesheet" href="~/royalestate/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/royalestate/css/jquery.timepicker.css">


	<link rel="stylesheet" href="~/royalestate/css/flaticon.css">
	<link rel="stylesheet" href="~/royalestate/css/icomoon.css">
	<link rel="stylesheet" href="~/royalestate/css/style.css">
</head>
