@{
    ViewData["Title"] = "PropertyList";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>


    <div class="hero-wrap" style="background-image: url('/royalestate/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="#">Ana Sayfa</a></span> <span>Evler</span></p>
                    <h1 class="mb-3 bread">Tüm İlanlar</h1>
                </div>
            </div>
        </div>
    </div>


    @await Component.InvokeAsync("_PropListComponentPartial")
    


</body>
</html>

