@{
    ViewData["Title"] = "PropertyDetail";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        @await Component.InvokeAsync("_SingleProductImageComponentPartial",new {id=ViewBag.Id})
                        
                        @await Component.InvokeAsync("_SingleProductContentComponentPartial",new {id=ViewBag.Id})
                      
                    </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                    @await Component.InvokeAsync("_CategoryCountComponentPartial")

                    @await Component.InvokeAsync("_DetailTagsComponentPartial", new {id=ViewBag.Id})

                </div>
            </div>
        </div>
    </section>
</body>
</html>

