@using DapperEstate.Dtos.ProductDtos
@model List<ResultSingleProductDto>


    @foreach(var item in Model){
<div class="col-md-12 Properties-single mt-4 mb-5 ftco-animate">
    <h2>@item.Title</h2>
    <p class="rate mb-4">
        <span class="loc"><a href="#"><i class="icon-map"></i> @item.City</a></span>
    </p>
    <p>@Html.Raw(item.Description2)</p>
   
</div>
<div class="col-md-12 properties-single ftco-animate mb-5 mt-4">
    <h3 class="mb-4">Bakış Atın</h3>
    <div class="block-16">
            <iframe width="560" height="315" src="@item.VideoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    </div>
}