@model CreateCityDto
@{
    ViewData["Title"] = "CreateCity";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">

	<div class="card">
		<div class="card-header">
			<div class="card-title">Şehir Ekleme Sayfası</div>
		</div>
		<div class="card-body">

			<form class="form-control" method="post">
				<div class="form-group">
					<input type="text" class="form-control input-pill" asp-for="City" placeholder="Şehir Bilgisi Giriniz" required />
				</div>
				<div class="card-action">
					<button class="btn btn-success">Ekle</button>
					<a href="/Admin/City/CityList/" class="btn btn-secondary">Vazgeç</a>
				</div>
			</form>

		</div>

	</div>
</div>

