
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



@await Component.InvokeAsync("_SliderComponentPartial")

@await Component.InvokeAsync("_RecentComponentPartial")

@await Component.InvokeAsync("_LastFourAdComponentPartial")

@await Component.InvokeAsync("_CounterComponentPartial")

@await Component.InvokeAsync("_TestimonyComponentPartial")

<section class="ftco-section-parallax">
	<div class="parallax-img d-flex align-items-center">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2>Mail Bültenine Abone Ol</h2>
					<p>Hayalinizdeki eve ulaşmak, yayımlanan ilanlardan ilk sizler haberdar olmak istiyorsanız hemen bültenimize kayıt olun. Sizlere uygun Satılık/Kiralık ilanları ilk gören siz olun.</p>
					<div class="row d-flex justify-content-center mt-5">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<div class="form-group d-flex">
									<input type="text" class="form-control" placeholder="Mail Adresinizi Yazınız">
									<input type="submit" value="Abone Ol" class="submit px-3">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

